/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	font-family: 'Noto Serif Toto', 'Times New Roman', Times, serif;
	background-color: whitesmoke;
}

h1 {
	padding: 8px;
	font-size: 48px;
}

.header
{
	display: flex;
	justify-content: center;
	align-items: center;
}

.entry {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 8px;
}

.entry button {
	width: 130px;
	padding: 14px 6px 14px 6px;
	border: 1px solid lightblue;
	border-radius: 8px;
	background-color: lightblue;
	color: black;
	cursor: pointer;
	font-weight: bold;
}

/* Book Cards */

.center
{
	padding: 25px;
}

.library
{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
	gap: 24px;
	margin-top: 32px;
}

.cards {
	border: 1px solid lightblue;
	border-radius: 8px;
	padding: 10px;
	padding-bottom: 40px;
	display: flex;
	justify-content:left;
	flex-direction: column;
	align-items: center;
	gap: 12px;
}

.cards p
{
	font-size: 18px;
	color: lightblue;
}

.cards button 
{
	border: 1px solid lightblue;
	background-color: lightblue;
	border-radius: 8px;
	width: 100px;
	padding: 14px;
	flex:1 0.5 0;
	font-size: 18px;
	cursor: pointer;
	color: aliceblue;
}

.bookbtn
{
	display: flex;
	gap: 12px;
}

/* Form */

#overlay
{
	z-index: 0;
	display: none;
	position: fixed;
	background-color: rgb(92, 92, 92);
	opacity: 0.5;
	height: 100%;
	width: 100%;
}

#formDiv
{
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border: 2px solid lightblue;
	border-radius: 8px;
	background-color: white;
	padding: 8px;
}

form
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 12px;
	color: black;
	width: 300px;
}

label
{
	display: flex;
	flex-direction: column;
	gap: 5px;
	justify-content: center;
	align-items: center;
}

#subBtn
{
	margin-top: 12px;
	border: 1px solid lightblue;
	border-radius: 8px;
	background-color: lightblue;
	padding: 14px 6px;
	cursor: pointer;
	color: black;
	font-weight: bold;
}

form input
{
	border: 1px solid lightblue;
	border-radius: 4px;
	background-color: transparent;
	padding: 8px 0;
	width: 100%;
	color: black;
	font-size: 16px;
	z-index: 1;
}

form input:focus
{
	outline: none;
}